<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cyanogenmod.settings.device"
          android:sharedUserId="android.uid.system">
    <application
        android:label="@string/app_name">
        <activity
            android:label="@string/app_name"
            android:name=".DeviceSettings">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="com.cyanogenmod.action.LAUNCH_DEVICE_SETTINGS" />
            </intent-filter>
        </activity>
        <receiver android:name=".InputDeviceReceiver"
                android:label="@string/keyboard_layouts_label">
            <intent-filter>
                <action android:name="android.hardware.input.action.QUERY_KEYBOARD_LAYOUTS" />
            </intent-filter>
            <meta-data android:name="android.hardware.input.metadata.KEYBOARD_LAYOUTS"
                    android:resource="@xml/keyboard_layouts" />
        </receiver>
    </application>

</manifest>
